<ul> <%@patients.each do |patient| %> 
<<<<<<< HEAD
  <li> <%= link_to "Name: #{patient.name} Number of Appointments: #{patient.appointments.size}", patient_path(patient) %> </li>
=======
  <li> <%= link_to "Name: #{patient.name} Number of Appointments: #{patient.appointments.size}" patient_path(patient) %> </li>
>>>>>>> d50e75d73211cdc1bc1a9ae70ba690bf5e2742c4
  <% end %> 
</ul>


<!--describe "#index page" do-->
<!--    it 'lists all of the patients and the number of appointments they have' do-->
<!--      visit patients_path-->
<!--      within("ul") do-->
<!--        expect(page).to have_content("Name: Marge Simpson Number of Appointments: 2")-->
<!--        expect(page).to have_content("Name: Bart Simpson Number of Appointments: 1")-->
<!--      end-->
<!--    end-->
<!--  end-->